@import './variables';

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}

label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $darkGrey;
}

.link, a{
    text-decoration: none;
    color: inherit;
}